<form method="POST" role="form">
  <div class="form-group">
    <label for="search" class="hidden">Search Box</label>
    <input type="search" class="form-control" id="search" placeholder="Search" name="search">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul>
	<% if(typeof titles !== 'undefined') { %>
		<% titles.forEach(function(info) { %>
			<div class="well">
				<h2><a href="<%= info.link %>" target="_blank"><%= info.title %></a></h2>
				<form action="/favorite" method="POST" class="navbar-form navbar-right">
					<% if(currentUser) { %>
						<input type="hidden" name="id" value="<%= info.title %>">
						<button type="submit" class="btn btn-default">add to fav</button>
					<% } %>
				</form>
			</div>
		<% }); %>
    <% } %>
</ul>

