<form method="PUT" action="/posts/edit/<%= submission.id %>" class="put-form">
  <input type="text" name="title" value="<%= submission.title %>">
  <input type="text" name="body" value="<%= submission.body %>">
  <input type="submit" value="Update">
</form>
